@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

/* Основные элементы */

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
}

button {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
}

p {
	padding: 0;
	margin: 0;
}

figure {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

h1 span {
	display: block;
}

ul,li{
	margin: 0;
	padding: 0;
}

/*Основное описание*/

.wrap {
	display: flex;
}

.side-bar {
	flex: 5%;
	height: auto;
	border-right: solid rgba(128, 128, 128, 0.2);
	border-width: 1px;
	position: fixed;
	top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 60px;
    display: none;
}

.app {
	flex: 95%;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.container-mobile {
}

.popup {
	position: fixed;
	height:100%;
	width:100%;
  	top: 0;
  	left: 0;
  	margin: auto;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.9);
	position:fixed;
	z-index: 1;
	height:100%;
	top: 0;
	left: 0;
	width:100%;
}


.popup_img {
	position: relative;
	margin-top: 60px;
	z-index:2;
	max-height:84%;
	max-width:84%;
}

/*Header*/

.logo {
	display: flex;

}

.first-section {
	background-image: linear-gradient(609deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(527deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(461deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(299deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(360deg, rgb(255,255,255),rgb(255,255,255));
}

.full-logo-text {
	margin-left: 15px;
	font-family: 'Roboto', sans-serif;
}

.full-logo-text p:first-child {
	font-weight: 500;
}

.nav {
	padding-top: 20px;
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto', sans-serif;
	margin: 0 50px 0 auto;
}

.menu li {
	text-transform: uppercase;
	margin-left: 60px;
	font-size: 14px;
	font-weight: 500;
	list-style: none;
}

.menu li a {
	text-decoration: none;
	color: black;
}

/*First-block*/



.first-offer {
	display: flex;
	margin-top: 60px;
	padding-bottom: 20px;
}

.first-button {
	margin-top: 50px;
	width: 300px;
	height: 50px;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-text {
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.first-button img {
	margin-left: 25px;
}

.offer-image {
	margin-left: auto;
}

.offer-image img{
	width: 397px;
	height: 366px;
}

.offer-block h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 30px;
	width: 300px;
}

.offer-block p {
	width: 400px;
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
}

/*Second section*/

.second-section {
	background-color: #1D1A1E;
	color: white;
}

.serivices {
	padding: 80px 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 24px;
	letter-spacing: 0.05em;
}

.services-section {
	display: flex;
	padding-bottom: 60px;
	justify-content: space-between;
}

.services-section h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 24px;
	width: 240px;
	letter-spacing: 0.05em;
}

.services-section li {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-bottom: 30px;
	width: 250px;
	font-size: 19px;
	list-style: none;
}

.line {
	width: 250px;
	height: 3px;
	background-color: white;
	margin: 40px 0;
}

.serv-block-1 {
	
}

.serv-block-2 {
	
}

.serv-block-3 {
	
}

/*Third section*/

.third-section {
	color: black;
}

.projects-header {
	padding: 80px 0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.05em;
}

.project-blocks {
	display: flex;
	justify-content: space-between;
	padding-bottom: 120px;
}

.project-header-case {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.project-header-case img {
	display: none;
}

.project-header {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 21px;
	width: 240px;
	letter-spacing: 0.05em;
}

.project-points {
	height: 230px;
}

.project-points li {
	margin-bottom: 20px;
    width: 250px;
    font-size: 15px;
    list-style: disc;
    margin-left: 15px;
}

.proj-line {
	width: 1px;
	background-color: rgba(128, 128, 128, 0.2);
}

.read-about {
	margin: 20px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 13px;
	letter-spacing: 0.05em;
	cursor: pointer;
}

/*Fourth section*/

.fourth-section {
	border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.about {
	border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.about-header {
	margin-bottom: 50px;
}

.about p {
	width: 400px;
	margin-bottom: 40px;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}

.about-header {
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.05em;
}


.fourth-sect {
	display: flex;
	width: 100%;
}

.fourth-line {
	width: 1px;
	background-color: rgba(128, 128, 128, 0.2);
}

.partners-header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.05em;
	margin: 50px 0;
}

.partners-block {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 60px;
	width: 450px;
}

.partners-section {
	margin-left: 60px;
}

.partner-section-1 {
	width: 200px;
	height: 150px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner-section-1 img:nth-child(2){
	display: none;
}

.partner-section-2 {
	width: 200px;
	height: 150px;
	margin-left: 20px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner-section-2 img:nth-child(2){
	display: none;
}

.partner-section-3 {
	width: auto;
	height: 150px;
	margin-top: 15px;
	border: 1px solid rgba(128, 128, 128, 0.2);
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner-section-3 img:nth-child(2){
	display: none;
}

.about {
	width: 50%;
}

.partners {
	width: 50%;
}

/*Down section*/

.info-section {
}

.down-section {
	background-color: #1D1A1E;
}

.down-blocks {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
}

/*Footer*/

.footer {
	color: #FFFFFF;
	width: 50%;
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 120px;
}

.footer-header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 60px 0;
	color: #FFFFFF;
	letter-spacing: 0.05em;
}

.st-footer {
	margin-bottom: 50px;
}

.st-footer h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 25px;
	font-size: 25px;
	color: white;
}

.st-footer p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 29px;
	letter-spacing: 0.05em;
	width: 260px;
}

.small-info {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 15px;
	letter-spacing: 0.05em;
	padding: 40px 0 40px 0;
}

.btn-section-1 {
	display: none;
}

.btn-section-2 {
	display: none;
}

.btn-section-3 {
	display: none;
}

/*Form*/

.form-position {
	margin-left: 60px;
}

.form-section {
	border-top: 1px solid rgba(128, 128, 128, 0.2);
	background-color: #FFFFFF;
	grid-row-start: 1;
	grid-row-end: 1;
	grid-column-start: 2;
	grid-column-end: 3;
}

.form-header {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 24px;
	padding: 60px 0;
	color: #000;
	letter-spacing: 0.05em;
}

.form-block form {
	width: 400px;
}

.form-block input[type=name] {
	width: 320px;
	height: 50px;
	margin-bottom: 30px;
	border: none;
	background-color: #E6E6E6;
	padding: 10px;
}

.form-block input[type=phone] {
	width: 320px;
    height: 50px;
    margin-bottom: 30px;
    border: none;
    padding: 10px;
    background-color: #E6E6E6;
}

.form-block button {
	appearance:none;
  	-webkit-appearance:none;
  	padding:25px;
  	border:none;
  	background-color:#1D1A1E;
  	color:#fff;
  	font-weight:600;
  	width: 250px;
}

::-webkit-input-placeholder {
	color:#black;
	/*padding: 10px;*/
}

::-moz-placeholder        {
	color:#black;
	/*padding: 10px;*/
}/* Firefox 19+ */

:-moz-placeholder           {
	color:#black;
	/*padding: 10px;*/
}/* Firefox 18- */

:-ms-input-placeholder      {
	color:#black;
	/*padding: 10px;*/
}


/*Адаптация*/

@media screen and (max-width: 991px) {

	/*Главные компоненты и первая секция*/

	.nav {

	}

	.side-bar {
		width: 40px;
	}

	.container {
		margin: 0 80px;
	}

	.menu {
		margin: 0px 35px 0 auto;
	}

	.menu li {
		margin-left: 45px;
		font-size: 13px;  
	}

	.first-offer {
		margin-top: 35px;
	}

	.offer-image {
		margin-left: 110px;
	}

	.offer-image img {
		width: 359px;
    	height: 294px;
	}

	.offer-block h1 {
		font-size: 23px;
		width: 250px;
	}

	.offer-block p {
		width: 320px;
		font-size: 16px;
	}

	.first-button {
		margin-top: 30px;
		width: 270px;
	}

	.button-text {
		font-size: 14px;
	}


	/*Услуги*/

	.serivices {
		padding: 65px 0;
		font-size: 21px;
	}

	.services-section h3 {
		font-size: 20px;
		width: 240px;
	}

	.services-section li {
		width: 242px;
		font-size: 15px;
		margin-bottom: 40px;
	}

	.line {
		width: 234px;
		margin: 40px 0;
	}

	/*Проекты*/

	.projects-header {
		padding: 65px 0;
		font-size: 21px;
	}

	/*О нас*/

	.about p {
		width: 380px;
	}

	/*Партнеры*/

	.partners-block {
		width: 385px;
	}

	.partner-section-1 {
		width: 180px;
		height: 150px;
	}

	.partner-section-2 {
		width: 180px;
		height: 150px;
	}

	.partner-section-3 {
		height: 150px;
	}


}

@media screen and (max-width: 414px) {

	/*Главные компоненты и первая секция*/

	.nav {

	}

	.side-bar {
		width: 40px;
	}

	.container {
		width: 365px;
		margin: 0 auto;
	}

	.container-mobile {
		width: 365px;
		margin: 0 auto;
	}

	.menu {
		display: none;
	}

	.menu li {
		margin-left: 45px;
		font-size: 13px;  
	}

	.first-offer {
		margin-top: 35px;
	}

	.offer-image {
		display: none;
	}

	.offer-image img {
		width: 359px;
    	height: 294px;
	}

	.offer-block h1 {
		font-size: 33px;
		width: 300px;
	}

	.offer-block p {
		width: 320px;
		font-size: 16px;
	}

	.first-button {
		margin-top: 30px;
		width: 270px;
	}

	.button-text {
		font-size: 14px;
	}

	/*Услуги*/

	.serivices {
		padding: 65px 0;
		font-size: 21px;
	}

	.services-section {
		flex-direction: column;
	}

	.services-section h3 {
		font-size: 26px;
		width: 265px;
	}

	.services-section li {
		width: 265px;
		font-size: 22px;
		margin-bottom: 40px;
	}

	.serv-block-1 {
		margin-bottom: 40px;
	}

	.serv-block-2 {
		margin-bottom: 40px;
	}

	.serv-block-3 {
		margin-bottom: 40px;
	}

	.line {
		width: 265px;
		margin: 40px 0;
	}

	/*Проекты*/

	.project-points-block  {
	}

	.accardion {
	}

	.projects-header {
		padding: 65px 0;
		font-size: 21px;
	}

	.project-header-case img {
		display: block;
	}

	.project-blocks {
		flex-direction: column;
		padding-bottom: 40px;
	}

	.project-block-1 {
		margin-bottom: 30px;
	}

	.project-block-2 {
		margin-bottom: 30px;
	}

	.project-block-3 {
		margin-bottom: 30px;
	}



	.fourth-sect {
		flex-direction: column;
	}

	/*О нас*/

	.about {
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
		border-right: none;
		width: 100%;
	}

	.about p {
		width: 380px;
	}

	.plus-btn-1 {
		margin-top: 5px;
		width: 12px;
		height: 12px;
	}


	.btn-section-1 {
		width: 12px;
		height: 25px;
		display: block;
	}

	.btn-section-2 {
		width: 12px;
		height: 25px;
		display: block;
	}

	.btn-section-3 {
		width: 12px;
		height: 25px;
		display: block;
	}

	.minus-btn-1 {
		display: none;
	}

	.close-plus {

	}

	.show-minus {
		display: block;
	}

	/*Партнеры*/

	.partners {
		width: 100%;
	}

	.partners-block {
		width: 360px;
	}

	.partners-section {
		margin-left: 0;
	}

	.partner-section-1 {
		width: 160px;
		height: 120px;
	}

	.partner-section-1 img:nth-child(1){
		display: none;
	}

	.partner-section-1 img:nth-child(2){
		display: block;
	}

	.partner-section-2 {
		width: 160px;
		height: 120px;
	}

	.partner-section-2 img:nth-child(1){
		display: none;
	}

	.partner-section-2 img:nth-child(2){
		display: block;
	}

	.partner-section-3 {
		height: 150px;
		margin-top: 0;
	}

	.partner-section-3 img:nth-child(1){
		display: none;
	}

	.partner-section-3 img:nth-child(2){
		display: block;
	}

	/*Футер*/


	.down-blocks {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.form-section {
		grid-row-start: 1;
    	grid-row-end: 2;
    	grid-column-start: 1;
    	grid-column-end: 1;
	}

	.footer {
		grid-row-start: 2;
    	grid-row-end: 3;
    	grid-column-start: 1;
    	grid-column-end: 1;
    	margin-left: 25px;
    	width: 320px;
	}
} 

@media screen and (max-width: 375px) {

	/*Главные компоненты и первая секция*/

	.nav {

	}

	.side-bar {
		width: 40px;
	}

	.container {
		width: 365px;
		margin: 0 auto;
	}

	.container-mobile {
		width: 365px;
		margin: 0 auto;
	}

	.menu {
		display: none;
	}

	.menu li {
		margin-left: 45px;
		font-size: 13px;  
	}

	.first-offer {
		margin-top: 35px;
	}

	.offer-image {
		display: none;
	}

	.offer-image img {
		width: 359px;
    	height: 294px;
	}

	.offer-block h1 {
		font-size: 33px;
		width: 300px;
	}

	.offer-block p {
		width: 320px;
		font-size: 16px;
	}

	.first-button {
		margin-top: 30px;
		width: 270px;
	}

	.button-text {
		font-size: 14px;
	}

	/*Услуги*/

	.serivices {
		padding: 65px 0;
		font-size: 21px;
	}

	.services-section {
		flex-direction: column;
	}

	.services-section h3 {
		font-size: 26px;
		width: 265px;
	}

	.services-section li {
		width: 265px;
		font-size: 22px;
		margin-bottom: 40px;
	}

	.serv-block-1 {
		margin-bottom: 40px;
	}

	.serv-block-2 {
		margin-bottom: 40px;
	}

	.serv-block-3 {
		margin-bottom: 40px;
	}

	.line {
		width: 265px;
		margin: 40px 0;
	}

	/*Проекты*/

	.project-points-block  {
	}

	.accardion {
	}

	.projects-header {
		padding: 65px 0;
		font-size: 21px;
	}

	.project-header-case img {
		display: block;
	}

	.project-blocks {
		flex-direction: column;
		padding-bottom: 40px;
	}

	.project-block-1 {
		margin-bottom: 30px;
	}

	.project-block-2 {
		margin-bottom: 30px;
	}

	.project-block-3 {
		margin-bottom: 30px;
	}

	.btn-section-1 {
		width: 12px;
		height: 25px;
		display: block;
	}

	.btn-section-2 {
		width: 12px;
		height: 25px;
		display: block;
	}

	.btn-section-3 {
		width: 12px;
		height: 25px;
		display: block;
	




	.fourth-sect {
		flex-direction: column;
	}

	/*О нас*/

	.about {
		border-bottom: 1px solid rgba(128, 128, 128, 0.2);
		border-right: none;
		width: 100%;
	}

	.about p {
		width: 380px;
	}

	/*Партнеры*/

	.partners {
		width: 100%;
	}

	.partners-block {
		width: 300px;
	}

	.partners-section {
		margin-left: 0;
	}

	.partner-section-1 {
		width: 140px;
		height: 120px;
	}

	.partner-section-1 img:nth-child(1){
		display: none;
	}

	.partner-section-1 img:nth-child(2){
		display: block;
	}

	.partner-section-2 {
		width: 140px;
		height: 120px;
	}

	.partner-section-2 img:nth-child(1){
		display: none;
	}

	.partner-section-2 img:nth-child(2){
		display: block;
	}

	.partner-section-3 {
		height: 150px;
		margin-top: 0;
	}

	.partner-section-3 img:nth-child(1){
		display: none;
	}

	.partner-section-3 img:nth-child(2){
		display: block;
	}

	/*Футер*/


	.down-blocks {
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.form-section {
		grid-row-start: 1;
    	grid-row-end: 2;
    	grid-column-start: 1;
    	grid-column-end: 1;
	}

	.footer {
		grid-row-start: 2;
    	grid-row-end: 3;
    	grid-column-start: 1;
    	grid-column-end: 1;
    	margin-left: 25px;
    	width: 320px;
	}

}
